// fuentes
$fuentePrincipal: 'Poppins', sans-serif;

//  maedia querys

$telefono: 480px;
$tablet: 768px;
$desktop: 1024;

$phantomdark: #1c202d;
$negro-nuevo: #272a2d;
$azulOscuro: #131318;
$crema: #cdbaa1;
$verde: #2d3021;
$naranja: #eb5b30;
$rojo: #b73624;