---
import NavMenu from "../components/NavMenu.astro";
import Layout from "../layout/Layout.astro";

---

<Layout
  title="Home"
  description="trabajos de diseño web, fotografia profesional"
>
  <body>
    <main class="conte">
      <NavMenu />
      <main class="slide">
        <div class="slide__secciones">
          <main id="main" class="page2">
            <div class="titulo">
              <div class="titulo__titulost hidden">
                <h1 class="titulo__h1c">
                  Diseño web <br />
                  <span class="titulo__spanc">+</span>
                  <br /> fotografia profesional
                </h1>
              </div>

              <div class="titulo__imagent">
                <img
                  class="titulo__pngt"
                  src="/fondo.png"
                  alt="imagen de fondo"
                />
              </div>
            </div>
          </main>
        </div>
        <div class="slide__secciones">
          <section id="servicios" class="servicios">
            <div class="esquina">
              <hr class="esquina__lineae" />
              <p class="esquina__parrafoe">/02</p>
            </div>

            <div class="contenido">
              <div class="contenido__textoc1">
                <h2 class="contenido__h2c1">
                  Diseño y desarrollo de paginas web
                </h2>
              </div>
              <div class="contenido__textoc4">
                <p class="contenido__parrafoc1">
                  Creacion de de paginas web de alta calidad y diseño
                  atractivo/personalizado para su negocio
                </p>
              </div>
              <div class="contenido__textoc2">
                <h2 class="contenido__h2c2">Fotografia profesional para web</h2>
              </div>
              <div class="contenido__textoc5">
                <p class="contenido__parrafoc2">
                  Realizamos las fotografias y las optimizamos logrando la mejor
                  calidad para el rendimiento del sitio web
                </p>
              </div>
              <div class="contenido__textoc3">
                <h2 class="contenido__h2c3">
                  SEO, mantenimiento y actualizacion
                </h2>
              </div>
              <div class="contenido__textoc6">
                <p class="contenido__parrafoc3">
                  Ofrecemos servicio de posicionamiento, mantenimiento y
                  actualizacion, seguridad y posicionamiento
                </p>
              </div>
            </div>

            <h3 class="servicios__h3s hidden">servicios</h3>
          </section>
        </div>
        <div class="slide__secciones">
          <section id="works" class="portafolio">
            <div class="esquina">
              <hr class="esquina__lineae" />
              <p class="esquina__parrafoe">/03</p>
            </div>

            <div class="portafolio__imagenes">
              <a href="https://clon-baberia.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina7.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://clon-portfolio.netlify.app/" target="_blank"
                ><img
                  class="portafolio__imgp"
                  src="/pagina6.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://argentinewinegroup.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina5.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://patagoniagastrobar.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina4.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://lerestobar.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina3.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://fotografia-web.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina2.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a
                href="https://clipboard-landing-sass.netlify.app/"
                target="_blank"
              >
                <img
                  class="portafolio__imgp"
                  src="/pagina1.webp"
                  alt="fotos trabajos"
                /></a
              >
              <a href="https://cocktail-web.netlify.app/" target="_blank">
                <img
                  class="portafolio__imgp"
                  src="/pagina11.webp"
                  alt="fotos trabajos"
                /></a
              >
            </div>
            <h3 class="portafolio__parrafop1 hidden">trabajos</h3>
          </section>
        </div>
        <div class="slide__secciones">
          <section id="tech" class="metodologia">
            <div class="esquina">
              <hr class="esquina__lineae" />
              <p class="esquina__parrafoe">/04</p>
            </div>
            <div class="text">
              <h2 class="text__h2m hidden">Como Trabajamos?</h2>
            </div>

            <div class="contain">
              <article class="article">
                <span class="article__spana">1</span>
                <p class="article__parrafoa">
                  Nos contactamos y conocemos todo sobre en tu negocio.
                </p>
              </article>
              <article class="article">
                <span class="article__spana">2</span>
                <p class="article__parrafoa">
                  Vemos si podemos ayudarte y de qué manera.
                </p>
              </article>
              <article class="article">
                <span class="article__spana">3</span>
                <p class="article__parrafoa">
                  Creamos una agenda de trabajo, resolvemos dudas y si estamos
                  de acuerdo, nos ponemos manos a la obra.
                </p>
              </article>
              <article class="article">
                <span class="article__spana">4</span>
                <p class="article__parrafoa">
                  Vamos informando de los avances, las nececidades que surgan en
                  el camino, los resultados que estamos obteniendo con respecto
                  a los objetivos planteados.
                </p>
              </article>
            </div>

            <h3 class="metodologia__parra1le hidden">Metodologia</h3>
          </section>
        </div>
        <div class="slide__secciones">
          <footer id="contact" class="contacto">
            <div class="esquina">
              <hr class="esquina__lineae" />
              <p class="esquina__parrafoe">/05</p>
            </div>

            <div class="hidden">
              <p class="contacto__parrafoc">
                nos podes contactar via <a
                  class="contacto__enlaces"
                  target="_blank"
                  href="mailto:facucostafotografia@gmail.com">mail o</a
                >
                <a
                  class="contacto__enlaces"
                  target="_blank"
                  href="tel:+34624453418"
                  target="_blank">movil</a
                >
              </p>
            </div>
          </footer>
        </div>
      </main>
    </main>

    <div class="conteflecha">
      <a class="conteflecha__flecha" href="#main">&uarr;</a>
    </div>
  </body>
</Layout>

<script>
  /* Variable para acceder las secciones con la clase "hidden" */

  const seccionesOcultas = document.querySelectorAll(".hidden");

  /* El Observer*/

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("mostrar", entry.isIntersecting);
        // if(entry.isIntersecting) observer.unobserve(entry.target);
      });
    },

    { threshold: 0.8 }
  );

  seccionesOcultas.forEach((seccion) => observer.observe(seccion));
</script>

<style>
  .hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: all ease-out 0.9s;
    /* transform: translateX(-100%); */
  }

  .mostrar {
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
  }
</style>
