---
import "../scss/featurs/_menunav.scss";
---

<div class="menu" id="hero">
  <nav class="menu__nav" id="nav">
    <img src="/logo-web-3.png" class="menu__logoh" alt="logo imagen"/>

    <ul class="menu__links">
      <li class="menu__item">
        <a href="#servicios" class="menu__link">servicios</a>
      </li>
      <li class="menu__item">
        <a href="#works" class="menu__link">trabajos</a>
      </li>
      <li class="menu__item">
        <a href="#tech" class="menu__link">metodologia</a>
      </li>
      <li class="menu__item">
        <a href="#contact" class="menu__link">contacto</a>
      </li>
    </ul>

    <a href="#nav" class="menu__hamburguer">
      <img src="/menu.png" class="menu__icon" alt="menu hamburguesa"  />
    </a>
    <a href="#" class="menu__close">
      <img src="/equis.png" class="menu__icon" alt="menu equis" />
    </a>
  </nav>
</div>



